@import "~antd/dist/antd.css";

.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(216, 237, 253);
}

.splitter {
  height: 100%;
  bottom: 0;
}

.layout-pane {
  overflow: hidden !important;
}

.layout-splitter {
  height: 30% !important;
  align-self: center;
}
